__pycache__/
bin/ChainMatches
bin/KMatch
bin/Match*
bin/Merge*
bin/BlockDisplaySatsuma
bin/Chromosemble
bin/ChromosomePaint
bin/ColaAlignSatsuma
bin/FilterGridSeeds
bin/Homology*
bin/Satsuma*
bin/Micro*
bin/Order*
bin/Reverse*
bin/Sort*
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake